<launch>

    <!-- Launch arguments -->
    <arg name="robot_name" default="PhantomX" />
    <arg name="x" default="0.0" />
    <arg name="y" default="0.0" />
    <arg name="z" default="0.0" />
    <arg name="roll" default="0.0" />
    <arg name="pitch" default="0.0" />
    <arg name="yaw" default="0.0" />
    <arg name="world" default="stage_01.world" />

    <!-- Load arm controller-->
    <rosparam file="$(find phantomx_gazebo)/config/controllers.yaml" command="load"/>

    <!-- Start Gazebo with an empty world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find phantomx_gazebo)/worlds/$(arg world)"/>
        <arg name="verbose" value="false" />
        <arg name="debug" value="false"/>
    </include>

    <!-- Load URDF model into the parameter server -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find phantomx_description)/urdf/phantom_description.xacro"/>

    <!-- Spawn a PhantomX arm in Gazebo, using robot_description param -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model PhantomX -param robot_description -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw) -model $(arg robot_name)" />

    <!-- robot_state_publisher node -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- Spawn controller of PhantomX arm-->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" args="arm_controller"/>

</launch>
