<?xml version="1.0"?>

<model>
  <name>Phantom</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Jhonyfer Angarita Moreno</name>
    <email>jhangaritamo@unal.edu.co</email>
  </author>

  <description>
    A model of the Phantom X Pincher Manipulator.
  </description>

</model>
